/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "assets/libs/line-awesome/css/line-awesome.min.css";
@import "assets/libs/fontawesome-pro/css/fontawesome.css";

.showgreen{
    --background: linear-gradient(to bottom, #006600, #ffffff) !important;
}

.logo img{
    width: 60px;
}

.mt10{
    margin-top: 10px;
}

.mb10{
    margin-bottom: 10px;
}

.txt-white{
    color: #fff;
}

.gbwhite{
    background: #fff;
}

.result-box{
    width: 100%;
    height: 415px;
    img{
        width: 100%;
        height: 380px;
    }
}

.backlink{
    a{color: #ffffff;}
    margin-bottom: 15px;
}