<ion-content class="showgreen">
  
	<div id="wrapper">
		<main id="main" class="site-main">
            <section class="list-categories">
                <div class="container">
                    <div class="title-wrap align-center">
                        <div class="logo"><img src="assets/images/logo_new.png" /></div>
                        <h2>IMAGE PROCESSING TASK</h2>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <div class="title-wrap txt-white">
                          <h2 style="color:#000">YABA COLLEGE OF TECHNOLOGY</h2>
                          <h3>COMPUTER ENGINEERING DEPARTMENT</h3>
                          <h4>NATIONAL DIPLOMA</h4>
                        </div>
                        <div class="title-wrap txt-white">
                          <h4>PROJECT MEMBERS</h4>
                        </div>
                        <ul class="member-list txt-white">
                          <li class="member">P/ND/18/3410004 - FOLORUNSHO BRIGHT</li>
                          <li class="member">P/ND/18/3410031 - AGWI SAMUEL </li>
                          <li class="member">P/ND/18/3410040 - OSHODI ABAYOMI</li>
                          <li class="member">P/ND/18/3410041 - CHINEDUM JOHN</li>
                          <li class="member">P/ND/18/3410057 - BINUYO OLUSOJI</li>
                          <li class="member">P/ND/18/3410061 - ALEBIOSU ISREAL</li>
                        </ul>
                        
                        <div class="title-wrap mt10">
                          <h4>PROJECT SUPERVISOR</h4>
                        </div>
                        <ul class="member-list txt-white">
                          <li class="superv">Engr. Sodiq K.A</li>
                        </ul>

                        <div class="title-wrap mt10">
                          <h4>H.O.D</h4>
                        </div>
                        <ul class="member-list txt-white">
                          <li class="superv">Engr. Comr. Yekini A. N</li>
                        </ul>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="align-center">
                          <p style="margin-bottom:10px" class="txt-white">Choose a task to begin</p>
                        </div>
                        <div class="inner">
                          <div class="row">
                              <div class="col-12 col-lg-6">
                                  <div class="item hover__box">
                                      <a routerLink="../enhance">
                                          <img src="assets/images/gbg.jpg" alt="">
                                          <span class="info">
                                              <span>Image Optimization</span>
                                              <img src="assets/images/workspace/cat-line-03.png" alt="">
                                          </span>
                                      </a>
                                  </div>
                              </div>
                              <div class="col-12 col-lg-6">
                                  <div class="item hover__box">
                                      <a routerLink="../segment">
                                          <img src="assets/images/gbg.jpg" alt="">
                                          <span class="info">
                                              <span>Image Segmentation</span>
                                              <img src="assets/images/workspace/cat-line-01.png" alt="">
                                          </span>
                                      </a>
                                  </div>
                              </div>
                              <div class="col-12 col-lg-6">
                                  <div class="item hover__box mt10">
                                      <a routerLink="../compress">
                                          <img src="assets/images/gbg.jpg" alt="">
                                          <span class="info">
                                              <span>Image Compression</span>
                                              <img src="assets/images/workspace/cat-line-03.png" alt="">
                                          </span>
                                      </a>
                                  </div>
                              </div>
                              <div class="col-12 col-lg-6">
                                  <div class="item hover__box mt10">
                                      <a routerLink="/detection">
                                          <img src="assets/images/gbg.jpg" alt="">
                                          <span class="info">
                                              <span>Object Detection</span>
                                              <img src="assets/images/workspace/cat-line-02.png" alt="">
                                          </span>
                                      </a>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </section><!-- .list-categories -->
		</main><!-- .site-main -->

		<footer id="footer" class="footer">
			<div class="container">
				<div class="footer__bottom">
					<p class="footer__bottom__copyright">&copy; 2021 </p>
				</div><!-- .top-footer -->
			</div><!-- .container -->
		</footer><!-- site-footer -->
	</div><!-- #wrapper -->
</ion-content>
